@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('./fonts/kaushanscript-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliregular';
    src: url('./fonts/muli-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    line-height: calc(2px + 2ex + 2px);
}

:root {
    font-size: 62.5%;
    --background-color: rgb(214, 206, 147);
    --black-font-color: rgb(27, 26, 26);
    --header-active-color: rgb(158, 153, 111);
    --home-active-color: rgb(136, 54, 41);
    --main-font: 'muliregular', system-ui, sans-serif;
    --secondary-font: 'kaushan_scriptregular', sans-serif;
    --h2-color: rgb(175, 70, 53);
    --border: 5px solid rgb(110, 98, 87);
    --lighter-border: 3px solid rgb(148, 128, 109);
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--black-font-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

header {
    padding: 1.5vw 6vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

header button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    font-family: var(--main-font);
    border-radius: 5px;
    line-height: 2;
    padding: 5px 20px;
    transition: all 0.3s ease-in;
}

header button:active,
header button:hover {
    background-color: var(--header-active-color);
}

header button:active {
    transform: scale(0.90);
}


#logo-wrapper {
    display: flex;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    font-family: 'kaushan_scriptregular', system-ui, sans-serif;
    color: var(--logo-color);
}

#logo-wrapper > span:first-of-type {
    font-size: 7rem;
}

#logo-wrapper > span:last-of-type {
    margin-top: 20px;
    font-size: 8rem;
    font-weight: normal;
}

nav {
    display: flex;
    gap: 5vw;
    justify-content: flex-end;
}

#content {
    flex-grow: 1;
    background-color: var(--background-color);
}

#home {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#home article {
    display: flex;
    gap: 3vw;
    align-items: center;
}

#home article:first-of-type h2 {
    color: var(--h2-color);
}

#home article:last-of-type h2 {
    font-size: 3.5rem;
    text-decoration: underline;
}

#home article .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--main-font);
}

#home p {
    width: 60ch;
    font-size: 2rem;
}

#home button {
    width: max-content;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--main-font);
    border-radius: 2px;
    box-shadow: 6px 6px 0px 1px rgb(41, 40, 40);
    background-color: var(--h2-color);
    color: rgb(221, 208, 208);
    line-height: 2;
    padding: 5px 20px;
}

#home button:active,
#home button:hover {
    background-color: var(--home-active-color);
}

#home button:active {
    box-shadow: none;
    transform: translate(6px, 6px);
}

#home article img {
    width: 300px;
    height: 300px;
    border: var(--border);
    border-radius: 5px;
    border-style: dashed;
    box-shadow: 5px 5px 10px rgb(36, 35, 35);
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    gap: 50px;
    height: 100%;
    padding: 60px 100px;
}

ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin-top: 30px;
}

#menu h2 {
    font-family: var(--secondary-font);
    font-size: 5rem;
    color: var(--h2-color);
}

#menu article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--lighter-border);
    border-style: dashed;
    border-radius: 5px;
    padding: 20px;
    font-size: 2rem;
    width: 500px;
}

#menu article:first-of-type {
    align-self: flex-start;
}

#menu article:last-of-type {
    align-self: flex-end;
}

#menu ul .bold {
    font-weight: bold;
}

